/* body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

ul {
    list-style-type: none;
    text-decoration: none;
    color: white;
}


.top {
    background-color: #1F2937; 
    color: white;
}
.header {
    display: flex;
    justify-content: start;
    text-wrap: wrap;    
}


*/
  
body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex; 
    flex-direction: column;
  }

.top {
    background-color: #1F2937;
    padding-bottom: 100px;
}

.awesome {
    color: white;
    font-size: 48px;
    font-weight: bolder;
    display: flex;
    text-wrap: wrap;
}

.header {
    display: flex;
    justify-content: space-between; 
    padding: 10px;
    font-size: 15px;
  }

.subtext {
    color: #E5E7EB;
    font-size: 18px;
}

a {
    padding: 5px 15px;
    text-decoration: none;
    color: white;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 10px;
}
/*
.leftTop {
    color: white;
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
    flex-direction: column;

}
*/

.secondTop{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.leftTop {
    color: white;
}

.signUpButton {
    padding: 5px 15px;
    background-color: #3882F6;
    border-color: #3882F6;
    color: white;
    border-radius: 8px;
}

img {
    margin-top: 10px;
    width: 400px;
    height: 200px;
}

.randomHeader {
    display: flex;
    justify-content: center;
    align-items: center;
}

.subtext2{
    display: flex;
    gap: 40px;
    display: flex;
    justify-content: center;
    padding: 20px;
    
}



.randomimg{
    
    margin-left: 65px;
    height: 150px;
    width: 140px;
   
}


.text {
    font-size: 14px;
    margin-top: 0px;
    color: grey;
  
}



.quote {
    background-color: #E5E7EB;
    padding: 70px 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.actualQuote {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
}

.quoteAuthor {
    font-size: 18px;
    font-weight: bold;
}

.callToAction{
   background-color: white;
   display: flex;
   justify-content: center;

   
}

.blueBox {
    background-color: #3882F6;
    border-radius: 10px;
    padding: 20px; 
    width: 800px;
    height: 100px;
    margin: 20px;
    color: white;
    display: flex;
    justify-content: space-between;
}

.signUpButton2 {
    padding: 5px 15px;
    background-color: #3882F6;
    border-color: white;
    color: white;
    border-radius: 8px;
    display: flex;
    align-self: center; 
}

.footer {
    background-color: #1F2937;
    color: white;
    padding: 5px 15px;
    font-size: 15px;
    display: flex;
    justify-content: center;
}

/*
.rightTop{
     width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #3882F6;
    color: white;
    justify-content: center;
}
*/

